* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-image: url("./images/wallpaper.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    font-family: "Monocraft";
    color: #ffffff;
}

@font-face {
    font-family: "Monocraft";
    src: url("fonts/Monocraft.ttf");
}

.icon {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.container,
.me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 5px;
}

h2 {
    padding-bottom: 10px;
}

.social img{
    height: 40px;
    width: 40px;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 20px;
    gap: 10px;
}
